tests/fixtures/element_ref.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Bug 1: xs:element ref="..." — referenced elements must appear as fields -->
<definitions
    name="RefService"
    targetNamespace="http://example.com/refservice"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:tns="http://example.com/refservice"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <types>
    <xsd:schema targetNamespace="http://example.com/refservice">

      <!-- Globally defined reusable elements -->
      <xsd:element name="sharedId"   type="xsd:int"/>
      <xsd:element name="sharedName" type="xsd:string"/>

      <!-- ComplexType that references elements via ref= -->
      <xsd:complexType name="PersonType">
        <xsd:sequence>
          <xsd:element ref="tns:sharedId"/>
          <xsd:element ref="tns:sharedName"/>
          <xsd:element name="email" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:element name="GetPerson">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:sharedId"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="GetPersonResponse" type="tns:PersonType"/>

    </xsd:schema>
  </types>

  <message name="GetPersonRequest">
    <part name="parameters" element="tns:GetPerson"/>
  </message>
  <message name="GetPersonResponse">
    <part name="parameters" element="tns:GetPersonResponse"/>
  </message>

  <portType name="RefServicePortType">
    <operation name="GetPerson">
      <input  message="tns:GetPersonRequest"/>
      <output message="tns:GetPersonResponse"/>
    </operation>
  </portType>

  <binding name="RefServiceBinding" type="tns:RefServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="GetPerson">
      <soap:operation soapAction="GetPerson"/>
      <input>  <soap:body use="literal"/> </input>
      <output> <soap:body use="literal"/> </output>
    </operation>
  </binding>

  <service name="RefService">
    <port name="RefServicePort" binding="tns:RefServiceBinding">
      <soap:address location="http://example.com/refservice"/>
    </port>
  </service>

</definitions>
