tests/fixtures/import_no_namespace.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- XSD imported without explicit namespace in xs:import — targetNamespace used as key -->
<xs:schema
    targetNamespace="http://example.com/nons"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:complexType name="SimpleRecord">
    <xs:sequence>
      <xs:element name="key"   type="xs:string"/>
      <xs:element name="value" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
