tests/fixtures/type_extension.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Bug 2: xs:extension base="..." — inherited fields must be included -->
<definitions
    name="ExtService"
    targetNamespace="http://example.com/extservice"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:tns="http://example.com/extservice"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <types>
    <xsd:schema targetNamespace="http://example.com/extservice">

      <!-- Base type -->
      <xsd:complexType name="BaseEntity">
        <xsd:sequence>
          <xsd:element name="id"        type="xsd:int"/>
          <xsd:element name="createdAt" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>

      <!-- Extended type — inherits id + createdAt, adds name + email -->
      <xsd:complexType name="UserType">
        <xsd:complexContent>
          <xsd:extension base="tns:BaseEntity">
            <xsd:sequence>
              <xsd:element name="name"  type="xsd:string"/>
              <xsd:element name="email" type="xsd:string"/>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>

      <xsd:element name="GetUser"         type="xsd:int"/>
      <xsd:element name="GetUserResponse" type="tns:UserType"/>

    </xsd:schema>
  </types>

  <message name="GetUserRequest">
    <part name="userId" element="tns:GetUser"/>
  </message>
  <message name="GetUserResponse">
    <part name="parameters" element="tns:GetUserResponse"/>
  </message>

  <portType name="ExtServicePortType">
    <operation name="GetUser">
      <input  message="tns:GetUserRequest"/>
      <output message="tns:GetUserResponse"/>
    </operation>
  </portType>

  <binding name="ExtServiceBinding" type="tns:ExtServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="GetUser">
      <soap:operation soapAction="GetUser"/>
      <input>  <soap:body use="literal"/> </input>
      <output> <soap:body use="literal"/> </output>
    </operation>
  </binding>

  <service name="ExtService">
    <port name="ExtServicePort" binding="tns:ExtServiceBinding">
      <soap:address location="http://example.com/extservice"/>
    </port>
  </service>

</definitions>
