tests/fixtures/xs_all.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- xs:all — all fields present, order does not matter -->
<definitions
    name="ProfileService"
    targetNamespace="http://example.com/profile"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:tns="http://example.com/profile"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <types>
    <xsd:schema targetNamespace="http://example.com/profile">

      <!-- xs:all: each element may appear once in any order -->
      <xsd:complexType name="Profile">
        <xsd:all>
          <xsd:element name="firstName" type="xsd:string"/>
          <xsd:element name="lastName"  type="xsd:string"/>
          <xsd:element name="bio"       type="xsd:string" minOccurs="0"/>
        </xsd:all>
      </xsd:complexType>

      <xsd:element name="UpdateProfile">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="profile" type="tns:Profile"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="UpdateProfileResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="success" type="xsd:boolean"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

    </xsd:schema>
  </types>

  <message name="UpdateProfileRequest">
    <part name="parameters" element="tns:UpdateProfile"/>
  </message>
  <message name="UpdateProfileResponse">
    <part name="parameters" element="tns:UpdateProfileResponse"/>
  </message>

  <portType name="ProfilePortType">
    <operation name="UpdateProfile">
      <input  message="tns:UpdateProfileRequest"/>
      <output message="tns:UpdateProfileResponse"/>
    </operation>
  </portType>

  <binding name="ProfileBinding" type="tns:ProfilePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="UpdateProfile">
      <soap:operation soapAction="http://example.com/profile/UpdateProfile"/>
      <input>  <soap:body use="literal"/> </input>
      <output> <soap:body use="literal"/> </output>
    </operation>
  </binding>

  <service name="ProfileService">
    <port name="ProfilePort" binding="tns:ProfileBinding">
      <soap:address location="http://example.com/profile"/>
    </port>
  </service>

</definitions>
